* {
	box-sizing: border-box;
}

/*******************Styles general******************************/

html {
  scroll-behavior: smooth;
}

body {
  background-color: darkgray;
  margin: 0;
}

img {
  max-width: 360px;
}

a {
  text-decoration: none;
}

/************************Section 1*********************************/

.section1 {
  display: none;
}

/************************Section 2********************************/

.section2 {
  background-color: transparent;
  background-image: url('../img/back.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1em;
}

h1 {
  background-color: rgb(49, 49, 49);
  display: inline-block;
  color: rgb(233, 200, 16);
  margin-bottom: 0;
  margin-top: 1.5em;
}

h2 {
  margin-top: 0;
  color: white;
  font-size: 0.8em;
}

.hashtag p::before {
  content: '#';
  color: white;
  background-color: rgb(49, 49, 49);
}

.hashtag p {
  display: inline-block;
  font-size: 1.3em;
  border: solid 1px black;
  background-color: rgb(233, 200, 16);
  margin: 0.2em 0;
}

nav {
  margin-top: 2em;
}

nav a {
  font-size: 1.3em;
  border: solid 1px black;
  background-color: rgb(49, 49, 49);
  color: white;
  text-decoration: none;
}

/************************Section 3********************************/

.section3 {
  position: relative;
  background-color: white;
  padding: 1px;
}

.section3 a {
  position: absolute;
  top: 3%;
  left: 49%;
}

.section3 p {
  text-align: left;
}

.div-section3 {
  margin: 0.8em;
  margin-bottom: 2EM;
}

.div-section3 p{
  font-size: 1.5em;
}

.h3 {
  text-align: left;
  font-size: 2.5em;
}

/************************Section 4********************************/

.section4 {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 1fr);
}

.section4 img:nth-child(9) {
  display: none;
}

.section4 img{
  max-width: 100%;
  height: auto;
}

.section4 a {
  position: absolute;
  bottom: 3%;
  left: 49%;
}

/************************Section 5********************************/

.section5 {
  position: relative;
  background-color: white;
  padding: 1px;
}

.section5 a {
  position: absolute;
  left: 49%;
  top: 3%;
}


/************************Section 6********************************/

.section6 {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 1fr);
}

.section6 figure:nth-child(9) {
  display: none;
}

.section6 img{
  max-width: 100%;
  height: auto;
}

figure {
  position: relative;
  margin: 0;
}

figcaption {
  position: absolute;
  color: rgb(177, 177, 177);
  bottom: 15%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.541);
  padding: 0.4em;
  border-radius: 0.3em;
}

.section6 a {
  position: absolute;
  bottom: 3%;
  left: 49%;
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.arrow {
  background-color:  rgb(49, 49, 49);
  color: white;
  font-size: 2em;
}

.arrow-nav {
  font-size: 1em;
  background-color:  rgb(233, 200, 16);
}